<!DOCTYPE html>

<head>
    <html lang="pt-br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    
    <title>Clinica Medica</title>
    <link rel="stylesheet" href="home.css">

</head>

<body>
    <header>
        <div id="box">
            <nav>
                <h1><img src="https://th.bing.com/th/id/OIP.gZT8wvwTC0kK1cIDb0reCAHaHa?rs=1&pid=ImgDetMain" alt="logo da clinica"></h1>
                <ul>
                    <li><a href="login.php">Login</a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="cadastro.php">Cadastros</a></li>
                </ul>
            </nav>    
        </div>
    </header>
    <main>

        <section class="main">
            <h2 class="title_main"><b>Sobre Nós</b></h2>
            <p>A clínica, fundada por duas amigas de infância, Clara e Helena, tornou-se um oásis de saúde e bem-estar na comunidade.
            <br>
            Clara, uma médica dedicada com uma paixão pela medicina integrativa, sempre sonhou em criar um espaço onde a cura fosse vista de forma holística,
            unindo corpo e mente. Helena, por sua vez, era uma fisioterapeuta talentosa, especializada em terapias alternativas e reabilitação.
            Unidas por um objetivo comum, elas decidiram abrir a Clínica Viva Bem.
            <br>
            Desde o início, a Viva Bem se destacou pela abordagem personalizada e humanizada. Em vez de tratar apenas os sintomas, Clara e Helena incentivavam
            seus pacientes a olhar para a raiz dos problemas, promovendo hábitos saudáveis e um estilo de vida equilibrado. A clínica oferecia uma variedade de serviços,
            incluindo consultas médicas, sessões de fisioterapia, acupuntura, ioga e nutrição.
            <br>
            Um dos casos mais memoráveis foi o de Dona Elvira, uma senhora de 78 anos, conhecida por seu sorriso contagiante, mas também por suas dores crônicas nas costas.
            Dona Elvira já havia passado por diversos tratamentos sem sucesso, até que chegou à Viva Bem. Clara e Helena, com suas habilidades complementares,
            criaram um plano de tratamento personalizado que combinava exercícios específicos, acupuntura e mudanças na dieta.
            <br>
            Ao longo de alguns meses, Dona Elvira começou a sentir uma melhoria significativa. A dor que a acompanhara por anos finalmente começou a diminuir.
            Mais do que isso, ela redescobriu a alegria de viver, participando das aulas de ioga e das sessões de meditação oferecidas pela clínica. Ela se tornou
            uma inspiração para outros pacientes, mostrando que era possível encontrar bem-estar e qualidade de vida, independentemente da idade.
            <br>
            Com o tempo, a reputação da Clínica Viva Bem se espalhou por toda a região. Pessoas vinham de longe para experimentar o cuidado diferenciado e a abordagem
            acolhedora de Clara e Helena. A clínica cresceu, e novos profissionais foram integrados à equipe, cada um trazendo novas especialidades e ampliando ainda mais o leque
            de tratamentos oferecidos.
            <br>
            Além dos tratamentos, a Viva Bem também organizava palestras, workshops e eventos comunitários, educando a população sobre saúde preventiva e bem-estar.
            Clara e Helena acreditavam que a informação era a chave para uma vida saudável e se dedicavam a compartilhar seu conhecimento com todos.
            <br>
            A clínica tornou-se um ponto de referência em Itajai, não apenas pela excelência em saúde, mas também pela forma como promovia a união e o apoio comunitário.
            Clara e Helena, com sua visão e dedicação, transformaram a Viva Bem em mais do que uma clínica – fizeram dela um símbolo de esperança e bem-estar para todos os
            que cruzavam suas portas.
            </p>

            <br><br>
            <p class="texto"> A Clinica Viva-Bem traz para você o melhor antendimento.</p>

        </section>
    </main>

    <section class="local">
        <h2>Local</h2>
        <p>Localizada no coração da cidade</p>
        <div class="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3557.78386452947!2d-48.66990321254122!3d-26.9103537164387!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94d8cc7142c1b32f%3A0x769efbe9f4f987ba!2sCl%C3%ADnica%20Viva%20Bem!5e0!3m2!1spt-BR!2sbr!4v1718244172141!5m2!1spt-BR!2sbr"
            width="100%" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>
    </section>

    <footer>
        <h1>Contato</h1>
        <p>(41) 99432-7656</p>
        <p>clinica.viva.bem@gmail.com</p>
    </footer>

</body>
</html>