header{
    background: #3399ff;
    padding: 5px;
}

#box{
    position: relative;
    width: 960px;
    margin: 0 auto;
}

#box h1 img{
    width: 220px;
}

body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
}

main{
    max-width: 800px; 
    margin: 0 auto;
    padding: 20px;
}



nav ul{
    position: absolute; 
    top: 100px; 
    left: 1000px;
    right: 0px; 
}

nav li{
    display: inline;
    margin: 0 0 0 15px; 
}

nav a:hover{ 
    color: #ffffff;
    text-decoration: underline;
}

nav a{
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    text-decoration: none;
    font-size: 22px;
}

#banner{
    width: 100%;
    display: block;
    margin: auto; 
}

main{
    background: #FEFEFE;
}

.main{
    margin: 30px 2em;

}