<!DOCTYPE html>
<head>
    <html lang="pt-br">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">

    <title>Barber Shop</title>
    <link rel="stylesheet" href="servicos.css">
</head>

<body>
    <header>
        <div id="box">
            <h1><img src="https://th.bing.com/th/id/OIP.gZT8wvwTC0kK1cIDb0reCAHaHa?rs=1&pid=ImgDetMain" alt="logo da clinica"></h1>
            <nav>
                <ul>
                    <li><a href="login.php">Login</a></li>
                    <li><a href="home.html">Home</a></li>
                    <li><a href="servicos.html">Serviços</a></li>
                    <li><a href="cadastro.php">Cadastros</a></li>
                </ul>
            </nav>    
        </div>
    </header>
    <main>
        <div>
            <ul class="servicos">
                <li>
                    <h2>Internação</h2>
                    <img src="https://th.bing.com/th/id/OIP.u2gbN31_O3XV9x0nVXtDqgHaE7?rs=1&pid=ImgDetMain">
                    <p class="descrição do servico">Na Clínica Viva Bem, nosso serviço de internação é projetado para proporcionar
                    aos pacientes um ambiente seguro, confortável e acolhedor durante sua estadia. Com uma equipe altamente qualificada e instalações
                    de ponta, garantimos cuidados de saúde de alta qualidade em um ambiente que promove a recuperação e o bem-estar.
                    </p>
                    <br>
                    <p class="preço">Diária Básica: R$ 600,00</p>
                </li>
                <li>
                    <h2>consultas</h2>
                    <img src="https://static.wixstatic.com/media/7869d1_268f38d3905e496587cb7de41a74ad11~mv2.jpg/v1/fill/w_980,h_572,al_c,q_85,usm_0.66_1.00_0.01,enc_auto/7869d1_268f38d3905e496587cb7de41a74ad11~mv2.jpg">
                    <p class="descrição do servico">Na Clínica Viva Bem, oferecemos uma ampla gama de consultas médicas, todas focadas em proporcionar
                    um atendimento humanizado e personalizado. Nossos profissionais altamente qualificados utilizam uma abordagem holística,
                    considerando todos os aspectos da saúde e do bem-estar do paciente.
                    </p>
                    <br>
                    <p class="product-price">
                    Duração: 30 a 45 minutos 
                    <br>
                    Preço: R$ 200,00
                    </p>
                </li>
                <li>
                    <h2>Exames de sangue</h2>
                    <img src="https://bkt-sa-east-1-cms-drupal.s3.sa-east-1.amazonaws.com/laboratorioexame.com.br/assets/inline-images/hemograma%20completo_0.jpg?adQIUCrDBR6RssZFVS3ceLHmnfufwElI">
                    <p class="descrição do servico">Na Clínica Viva Bem, oferecemos uma ampla variedade de exames de sangue para ajudar a diagnosticar, monitorar e prevenir
                    diversas condições de saúde. Nossos exames são realizados em um ambiente seguro e confortável, utilizando tecnologia de ponta para garantir
                    resultados precisos e rápidos.
                    </p>
                    <br>
                    <p class="product-price">Preço: de R$ 50,00 até R$ 70,00</p>
                </li>   
            </ul>
        </div>
    </main>

    <footer>
        <h1>Contato</h1>
        <p>(41) 99432-7656</p>
        <p>clinica.viva.bem@gmail.com</p>
    </footer>
</body>